<nav>
  <input type="checkbox" id="check" />
  <label for="check" class="checkbtn"> <i class="fas fa-bars"></i> </label>
  <label class="logo" routerLink="/home">Covid Relief Hub</label>
  <ul style="z-index: 1 !important">
    <li><a routerLink="/home" class="nav-link"> Home </a></li>
    <li><a routerLink="/donatenow" class="nav-link"> Donate Now </a></li>
    <li><a routerLink="/blog" class="nav-link">Blog </a></li>
    <li><a routerLink="/heros" class="nav-link">Covid Heros</a></li>
    <li><a routerLink="/vaccination" class="nav-link">Vaccination-Help </a></li>
    <li><a routerLink="/contact" class="nav-link">Contact Us </a></li>
  </ul>
</nav>
