table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align: center;
}

tr:nth-child(odd) {
  background-color: #dddddd;
}
h1 {
  text-align: center;
}
.backgroundd {
  background-color: #027676;
}
/* .headerr {
  font-size: large;
  color: #fff;
  font-weight: 900;
  display: flex;
  margin: auto;
  justify-content: center;
} */
